<div *ngIf="showComponent">
    <div class="round container my-5 div-panel">
      <div class="row justify-content-center">
          <i class="fa fa-3x fa-user mt-2 mr-1"></i>
            <h3 class="mt-4">{{username}}</h3>
        </div>
        
        <div class="row">
        <div class="col-sm-12 div-flex mb-3">
          <a role="button" (click)="onFollowing()">
            <h4 class="text-center no-space anon-unchecked">{{followingNumber}}</h4>
            <h6 class="text-center no-space anon-checked">Following</h6>
          </a>

          <div>
            <h4 class="text-center no-space">{{questions.length}}</h4>
            <h6 class="text-center no-space anon-checked">{{questions.length==1?'Answer':'Answers'}}</h6>  
          </div>
        
          <a role="button">
            <h4 class="text-center no-space anon-unchecked" (click)="onFollowers()">{{followersNumber}}</h4>
            <h6 class="text-center no-space anon-checked">Followers</h6>
          </a>
        </div>
        
        <div class="col-md-12 mt-2 mb-2" *ngIf="(username != authService.username) && (authService.isLoggedIn)">
            <button *ngIf="!isFollowed" class="btn btn-block follow" (click)="onFollow()">Follow</button>
            <button *ngIf="isFollowed" class="btn btn-block unfollow" (click)="onUnfollow()">Unfollow</button>
        </div>
      </div>
      
      <div class="row" *ngIf="username != authService.username">
        <form (submit)="onAsk()" #theForm="ngForm"  class="form-group col-md-12 flex-col" novalidate>    
          <textarea class="form-control mt-2" rows="3" placeholder="Ask me anything!" name="question" 
          required [(ngModel)]="question" maxlength="300">
        </textarea>
          <div class="mt-2">
            <div class="float-left">
            <mat-slide-toggle  name="anon" [(ngModel)]="anon" *ngIf="authService.isLoggedIn">
              <span class="{{anon?'anon-checked':'anon-unchecked'}} ml-1">Anonymous</span>
            </mat-slide-toggle>
          </div>

          <div class="float-right">
            <span class="anon-checked mr-1">{{300-question.length}}</span>
            <input type="submit" class="btn button-ask" value="Ask Question" [disabled]="theForm.invalid"/>
          </div>
        </div>
        </form>

      </div>
      
    </div>

    <div *ngIf="questions.length>0">
        <div class="round container div-panel pt-1 mt-2" *ngFor="let question of questions">
          <a *ngIf="authService.isLoggedIn && username==authService.username" class="delete-a float-right" role="button" (click)="onConfirmDeletion(question)">
          <i class="fa fa-close"></i>
          </a>
            
          <div class="flex-col">
              <div class=" fa q-font no-space">{{question.question}}</div>
              <div>
                <a href="user/{{question.questionFrom}}" *ngIf="question.questionFrom" class="fa fa-lg div-question-from no-space">{{question.questionFrom}}</a>
                <h6 *ngIf="!question.questionFrom" class="fa fa-lg div-question-from no-space">Anon</h6>
              </div>
            </div>
            
            
            <div class="flex ml-2">
                <img src="assets/svg/person-24px.svg" height="40" width="40"/>
                <div class="flex-col">
                   <h6 class="fa user-font no-space" >{{question.questionTo}}</h6>
                   <span class="fa ml-2 no-space">{{ question.time | timeAgo}}</span>
              </div>
            </div>
            
            <div class="fa a-font mt-2">{{question.answer}}</div>
        </div>
      <div class="mt-2 pt-2"></div>
    </div>
    
<div *ngIf="questions.length<1">
      <h3 class="text-md-center mt-3 ">There's no answers yet</h3>
    </div>
</div>

<div *ngIf="showError">
    <h3 class="text-md-center mt-3">Sorry, this page isn't available.</h3>
    <p class="text-center mt-4">The link you followed may be broken, or the page may have been removed. <a [routerLink]="['/']">Go back to Home!</a></p>>
</div>
