nav.nav-bg{
    background-color: #383e56;
    color: #eedad1;
}

div.div-font{
    font-size: larger;
    font-weight: bolder;
}

a.a-bg{
    background-color: #eedad1;
}

a.a-fg{
    color: #383e56;
}

button.button-bg{
    background-color: #eedad1;
}

button.button-fg
{
    color: #383e56;
}

div.title-color
{
    color: #eedad1;
}

.flex
{
    display: flex;
    justify-content: space-between;
}

#settings{
    color: #eedad1;
    background-color: #383e56;
    border: none;
}

#settings:active{
    border: 1px solid #383e56;
    border: #383e56;
    color:#ddd;
}

.dropdown-content {
    display: none;
    color: #eedad1;
    background-color: #383e56;
    position: absolute;
    border-radius: 3px;
}
  

.dropdown-content a {
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    display: block;
    width: 100%;
    color: #eedad1;
}

.dropdown-content a:hover{
    background-color: #ddd;
    color: black;
    border-radius: 3px;
}
  
.show{
    display:block;
}