<nav class="navbar py-3 nav-bg text-white flex">
  <div class="buttons">
    <a [routerLink]="['/']" class="btn">
      <div class="title-color div-font">Ask-Clone</div>
    </a>

    <a [routerLink]="['user',auth.username]" *ngIf="auth.isLoggedIn" class="btn">
      <div class="title-color">Profile</div>
    </a>

    <a [routerLink]="['inbox',auth.username]" *ngIf="auth.isLoggedIn" class="btn">
      <div class="title-color">Inbox</div>
    </a>
  </div>

  <div class="buttons mt-3">
    <a [routerLink]="['login']" style="text-decoration:none;" class="btn btn-sm btn-link a-fg font-weight-bold a-bg" *ngIf="!auth.isLoggedIn">Log In</a>
    <a [routerLink]="['signup']" class="btn btn-sm font-weight-bold a-fg a-bg ml-1" *ngIf="!auth.isLoggedIn">Sign Up</a>

    <div class="" style="position: relative; display: inline-block;">
      <div class="form-group flex">
        <input class="form-control" name="searchValue" (keydown)="onKeyPressed($event)" *ngIf="auth.isLoggedIn" [(ngModel)]="searchValue"
             type="text" placeholder="Search" aria-label="Search">

        <div class="ml-2 mt-1" *ngIf="auth.isLoggedIn" (click)="myFunction()">
            <a type="button" role="button" id="settings">
              <i class="fa fa-cog fa-2x"></i>
            </a>
        </div>

      </div>

      <div id="myDropdown" class="ml-2 pr-2 dropdown-content" style="width: 100%;">
        <a role="button" [routerLink]="['changePassword']">Change Password</a>
        <a  role="button" (click)="onLogout()">Log Out</a>
      </div>
    </div>

  </div>
</nav>
  
