<div class="Container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <br />
            <h2 class="text-center header-color">Change your Password</h2>
            <div *ngIf="errorMessage" class="ml-1 text-danger mt-2" style="white-space:pre-line;">
              {{ errorMessage }}
            </div>

            <br />

            <form (submit)="onConfirm()" #theForm="ngForm" novalidate>
                <div class="form-group">
                    <input type="password" class="form-control" name="currentPass" placeholder="Current Password"
                           [(ngModel)]="passwords.currentPassword" #currentPass="ngModel" required />
                    <div *ngIf="currentPass.touched&&currentPass.invalid&&currentPass.errors.required" class="text-warning">
                      Current Password is required!
                    </div>
                  </div>

                  <div class="form-group">
                    <input type="password" class="form-control" name="newPass" placeholder="New Password"
                           (input)="confirmNewPass.control.updateValueAndValidity()"
                           [(ngModel)]="passwords.newPassword" #newPass="ngModel" required />
                    <div *ngIf="newPass.touched&&newPass.invalid&&newPass.errors.required" class="text-warning">
                      New Password is required!
                    </div>
                  </div>
        
                  <div class="form-group">
                    <input type="password" appConfirmEqualValidator="newPass" class="form-control" name="confirmNewPass"
                           [(ngModel)]="passwords.confirmNewPassword" #confirmNewPass="ngModel" required placeholder="Confirm New Password"/>
        
                    <div *ngIf="confirmNewPass.touched&&confirmNewPass.invalid&&confirmNewPass.errors.required" class="text-warning">
                      Confirm New Password is required!
                    </div>
        
                    <div *ngIf="confirmNewPass.touched&&confirmNewPass.errors?.notEqual&&!confirmNewPass.errors?.required" class="text-danger">
                      Password doesn't match!
                    </div>
                  </div>

                  <div class="form-group">
                    <i class="fa fa-spinner fa-spin mr-2" *ngIf="connectionMade"></i>
                    <input type="submit" class="btn button-signup" value="Confirm Changes" [disabled]="connectionMade||theForm.invalid" />
                    <a class="btn btn-default text-dark ml-1" [routerLink]="['/']">Cancel</a>
                  </div>
            </form>
        </div>
    </div>
</div>

